<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylenosotros.css">
    <title>Nosotros</title>
</head>
<body>
    <nav>
    
        <img src="../img/logo.svg" class="logo">

        <ul class="navlinks">
            <li ><a class="nav-item2" href="../../index.html">Inicio</a></li>
            <li class="nav-item1"><a>Nosotros</a></li>
            <li class="nav-item3"><a class="nav-item31" href="./signup.html">Registrarse</a></li>
        </ul>


    </nav>

    <section class="first-section">
        <img src="../img/imgworld@2x.png" class="imagen">
        <div class="text1">
            <p class="tittle">¿Quienes Somos?</p>
            <br>
            <p class="parragraph">Sólaris es una <b>campaña educativa</b> y una comunidad comprometida con la promoción del <b>ahorro de energía</b> y el uso sostenible de los recursos. A través de <b>talleres educativos , guías informativas y una aplicación interactiva</b>, Sólaris capacita a las personas para tomar medidas concretas hacia un estilo de vida más ecológico. Sólaris se esfuerza por iluminar <b>un futuro más verde y brillante</b> para todos.</p>
        </div>
    
    
        <div class="principiosection"><p class="tittle3">¿Cuáles son los cuatro principios de sólaris?</p></div>

        <div class="second-section">
               
    
            <div class="principio">
                <img src="../img/prin1.png" class="prinimg">
                <p class="tittle2">Sostenibilidad</p>
            </div>
    
            <div class="principio">
                <img src="../img/prin2.png" class="prinimg">
                <p class="tittle2">Calidad</p>
            </div>
    
            <div class="principio">
                <img src="../img/prin3.png" class="prinimg">
            <p class="tittle2">Confiabilidad</p>
            </div>
            
            <div class="principio">
                <img src="../img/prin4.png" class="prinimg">
                <p class="tittle2">Empatía</p>
            </div>
    
        </div>
        
    </section>

    <section class="misionvision">

        <div class="mision">

            <div class="textcards">
                <p class="titulo">Misión</p><br>
                <p class="parragraph">Nuestra misión es <b>educar , capacitar y guiar a las personas y comunidades en su camino hacia el ahorro de energía efectivo.</b> Lo hacemos a través de talleres educativos, guías informativas y una aplicación interactiva que proporciona consejos personalizados. Estamos comprometidos a ser líderes en este viaje a un futuro más verde y brillante.</p>
            </div>

            <div class="imagencards">
                <img src="../img/mision.png" class="imgmision" >
            </div>

        </div>


        <div class="mision">

            <div class="textcardsvision">
                <p class="titulo">Visión</p>
                <p class="parragraph">Nuestra visión es <b>un mundo donde la energía se utiliza de manera inteligente y sostenible</b> . Imaginamos un planeta en el que cada individuo y comunidad contribuye activamente al ahorro de energía y a la protección del medio ambiente . Trabajamos incansablemente para iluminar ese futuro y hacer que cada vatio cuente.</p>
            </div>

            <div class="imagencards">
                <img src="../img/vision (1).png" class="imgmision">
            </div>

        </div>
    </section>

    <footer>


        <img src="../img/logo2.svg" class="logofooter">


    
        <ul class="listfooter1">
            <li class="list-item-footer1"><a href="../../index.html" class="a-list-item-footer">Sólaris</a></li>
            <li class="list-item-footer1"><a href="./nosotros.html" class="a-list-item-footer">Nosotros</a></li>
            <li class="list-item-footer1"><a href="https://www.un.org/sustainabledevelopment/es/objetivos-de-desarrollo-sostenible/" class="a-list-item-footer" target="_blank">ODS</a></li>
        </ul>
   

    
        <ul class="listfooter">
            <li class="list-item-footer"><a href="
                https://publuu.com/flip-book/276003/645846" target="_blank" class="a-list-item-footer">Manual de marca</a></li>
            <li class="list-item-footer"><a>Logo</a></li>
            <li class="list-item-footer"><a>Colores</a></li>
        </ul>
   

    
        <ul class="listfooter">
            <li class="list-item-footer2"><a href="https://www.instagram.com/sol.aris7/?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" target="_blank" class="a-list-item-footer">Instagram</a></li>
            <li class="list-item-footer2"><a href="https://www.youtube.com/watch?v=LsxAFS5J-kQ&list=PLCppfXV0_u64115uITYVyDbaYUx7wGyed" target="_blank" class="a-list-item-footer">Youtube</a></li>
            <li class="list-item-footer2"><a href="tel:+573138405086" class="a-list-item-footer">WhatsApp</a></li>
        </ul>

   
</footer>


<script src="../JS/nosotros.js"></script>

</body>
</html>