<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylesignup.css">
    <title>Registro</title>
</head>
<body>
    <section class="container">
        

        <a href="../../index.html">
            <img src="../img/logo2.svg" class="logo"></a>

            <div class="formsignup">
        <form id="signupForm">
            <label>Nombre</label>
            <input type="text" placeholder="Ingrese su nombre" id="name" required autofocus>
            <label>Apellido</label>
            <input type="text" placeholder="Ingrese su apellido" id="name" required autofocus>
            <label>Email</label>
            <input type="email" placeholder="email@email.com" id="email" required>
            <label>Contraseña</label>
            <input type="password" placeholder="********" id="password" required>
            

            <div class="genero">
                <label>Género</label>
            <input type="radio" value="1" name="genero">Femenino
            <input type="radio" value="2" name="genero">Masculino
            <input type="radio" value="3" name="genero">Otro
            </div>

            <input type="submit" value="Registro" class="buttom1">

        </form>

    </div>

        <p class="text">¿Ya tienes una cuenta? <a href="login.html" class="text2">Inicia Sesión</a></p>
    </section>
    <script src="../JS/signup.js"></script>
</body>
</html>