*{
    
    margin: 0;
    padding: 0;
    font-family: Quicksand;
}

body{
    background-color: #F0811B;
}

.form{
    
        background-color: white;
        padding: 3% 9%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    color: #F0811B;
    font-weight: 900;
    font-size: large;
}

.logo{
    width: 80%;
    margin: 5%;
    margin-left: 10%;
}
.buttom2{
    background-color: #F0811B;
    padding: 9px;
    border-radius: 10px;
    font-weight: 900;
    font-size: large;
    text-align: center;
    margin-top: 27%;
    border: 0;
    text-decoration: none;
    color: white;
}

.buttom1:hover{
    background-color: #E7650E;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    background-color: #F0811B;
    width: 190%;
    height: 200%;
    border-radius: 10px;
    outline: none;
   border: 0;
   padding: 5%;

}

.text{
    color: white;
    margin-top: 2%;
    font-size: large;
}

.text2{
    color: white;
    margin-top: 1%;
    font-weight: 800;
    font-size: large;
}

.buttom2:hover{
    background-color: #E7650E;
}


::placeholder{
    color: white;
    opacity: 90%;
}

@media (max-width: 480px) {

    .form{

        padding: 8% 14%;
        
}

    input{
        background-color: #F0811B;
        width: 140%;
        
       padding: 5%;
    }


    .buttom2{
        padding: 7px;
        border-radius: 10px;
        font-weight: 900;
        font-size: large;
        text-align: center;
        margin-top: 27%;
        border: 0;
        text-decoration: none;
        color: white;
    }
}
